

@import '../css/modal.css';




.body{
  margin: 0;
 color:var(--primary-text-color);
 font-family:Roboto,sans-serif;
 font-style: normal;
 line-height: 1.7;
 font-weight: 400;
 fill:none; 
 fill:currentColor;
  }

.header{
   border-bottom: 1px solid #ECECEC;
 
  }

  li{
    list-style: none;
  }
  a{
     text-decoration: none;
     margin-top: 0;
     margin-bottom: 0;}
  ul{
      margin-top: 0;
     margin-bottom: 0;
     padding: 0;
  }
  h1,h2,h3{
     margin-top: 0;
     margin-bottom: 0;
  }
p{
   margin-top: 0;
  margin-bottom: 0
}
img {
 display: block; 
 max-width: 100%;
 height: auto;
 }
.container{
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
 
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
   /* header */
  .header {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
  }
/*logo*/

.logo{
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  margin-right:93px;
}
   
.logo__black{
   color: var(--primary-text-color);
   margin-top: 32px;
}


/* site nav  */
.site-nav__item{ 
   margin-top:0 ;
   margin-bottom: 0;
   padding-left: 0;
   margin-right:50px;
  }



.site-nav {
   padding-inline-start: 0px;
   font-size:14px;
   font-weight: 500;
   line-height: 1.1;
   text-decoration:none;
   display: flex; 
   }
 
.site-nav.item:not(:last-child) {
 margin-left:30px; 
}

.site-nav__link .site-nav__link-current {
  display: block;
  font-style: Medium;
  line-height:1.1;
  color:var(--primary-text-color);
  padding: 32px 0;

}
.site-nav__link{
  color: var(--primary-text-color);
  padding: 32px 0;


  transition-property: color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link-current{
  color:var(--logo-color);
  padding: 32px 0;
  position: relative;
 
}
  
.site-nav__link-current::after{
content: '';

display: block;
width: 100%;
height: 4px;
border-radius:2px;
border-color: #2196f3;
background-color: var(--logo-color);

position: absolute;
left: 0;
bottom: 0;

transition-property: color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



/*контакты*/
.auth-nav{
  display: flex;
  margin-left: auto;
  padding-left: 0;
  font-size:14px;
  font-weight: 500;
  Line-height:1.1;
  text-decoration: none;
  margin-right:50px;
   }

.auth-nav__item{
  margin-top:0 ;
  margin-bottom: 0;
  padding-left: 0;
 }
   
.auth-nav .auth-nav__item:not(:last-child) {
  margin-right:50px;
}

.auth-nav__mail{
  display: inline-block;
  width: 16px;
  height: 12px;
  padding: 32px 0;
  margin-right: 10px;

}
.auth-nav__phone{
width: 10px;
height: 16px;
padding: 30px 0;
margin-right: 10px;
}

.auth-nav__link-mail,
.auth-nav__link-telefon {
  display: block;
  padding:  32px 0;
  color:var(--title-text-color);
  

  display: flex;
  align-items: center;

  transition-property: color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .auth-nav__icon-phone,
 .auth-nav__icon-mail
  {
   margin-right: 10px;}

.auth-nav__link:hover,
.auth-nav__link:focus,
.auth-nav__link-mail:hover,
.auth-nav__link-mail:focus,
.auth-nav__link-telefon:hover,
.auth-nav__link-telefon:focus,
.auth-nav__icon-mail:hover,
.auth-nav__icon-mail:focus,
.auth-nav__icon-phone:hover
.auth-nav__icon-phone:focus{
 color: var(--logo-color);
}

 


/*main-index шапка*/
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-hero{
   background-color:var(--color-block);
   background-image: linear-gradient( to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
   background-repeat: no-repeat; 
   background-size: cover; 
 
   padding: 200px 0;
   margin: 0 auto;
   color: var(--accent-color);

  max-width: 1600px; 
  margin: 0 auto;
  text-align: center;
 background-position: center;

}

.section-title{

font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 1.4;
letter-spacing: 0.06em;
text-align: center;
margin-bottom: 30px;

}

.button-service{
   color: var(--accent-color); 
   background-color: var(--logo-color);
   font-size: 16px;
   font-style:normal;
   font-weight: 700;
   line-height: 1.9;
   text-align: center;
   cursor: pointer;
 

   border-radius: 4px;
   padding: 10px 32px;
   border:transparent;

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button-service:hover,
.button-service:focus {
  background-color: #188CE8;

}
/*Особенности*/

.item-work{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.features-list{
  display: flex;
  align-items: center;
  justify-content: center;
 height:120px;

  background-color: #F5F4FA;
  border-radius: 4px; ;
  margin-bottom: 30px;
 }

.features-item{
  width: 70px;
  height:70px;

   
}
.features-link{
  display: flex;
  justify-content: center;
}

.item-content{
  width: 270px;
  margin-right: 30px;
   }
.item-content:nth-child(4){
     margin-right: 0px;
   }
   
    
.section-heading{
   margin-bottom: 10px;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-align: left;
   
   }

.section-text{
   color: var(--title-text-color);
   font-size: 14px;
   font-style: normal;
   text-align: left;
   }



/*Чем мы занимаемся*/
.section-user{
  padding-top: 0px;
}
.user-work{
  margin-bottom: 50px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  
  }

  .user-foto{
    display:flex;
    

  
  }

.user-foto-item{
  margin-right: 30px;

  position: relative;
}

.user-foto-item:nth-child(3){
     margin-right: 0;
   }



   .label{
    position: absolute;
    bottom: 0;
    right: 0;


    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;

    width: 370px;
    height: 70px;
     background-color: rgba(47, 48, 58, 0.8);
   }

   .label-item{
  
    
    color: var(--accent-color);
   font-weight: 700;
   font-size:  14px;
   Line-height:1.2;
 
   }  
   .label-item.relative {  
    position: relative;
    top: -420px;
    left: -200px;
  }

  /* Наша команда */
.user{
  background-color: var(--color-button);
}

.feature {
    display: flex;
}

.feature-command{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 270px;
   margin-right: 30px;
  background-color: var(--accent-color);

}

.feature-command:nth-child(4){
  margin-right: 0px;
} 
  
.user-command {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
   
.command-foto{
  width: 270px;
}

.user-text{
  padding: 30px 0;  
}

.user-name {
  margin-bottom: 10px;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height:1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.user-prof{
   color:var(--title-text-color);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2;
   letter-spacing: 0.03em;
   text-align: center;
   margin: 0;
   margin-bottom: 16px;
}

 /* соцсети */
 .icon{
display: flex;
align-items: center;
justify-content:center;

  }
 
.icon-list{
margin-right: 10px;
box-sizing: border-box;
width: 44px;
height: 44px;
}

.icon-list :nth-child(4){
  margin-right: 0px;
}

.icon-hover{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color:var(--color-icon);
  border-radius: 50px;


  transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.icon-item{
  width: 20px;
  height: 20px;
  fill: currentColor;
 
 }

.icon-hover:hover,
.icon-hover:focus{
  fill: currentColor;
  color:var(--accent-color);
  background-color:#2196F3;
}



/*Постоянные клиенты */
.company{
  display: flex;
align-items: center;
justify-content:center; 

}
.company-list{
margin-right: 30px;
width: 170px;
height: 92px;

}

.company-list:nth-child(6) {
  margin-right: 0px;
}
 
.company-item:hover,
.company-item:focus{ 
fill: currentColor;
color:var(--logo-color);
border: 1px solid var(--logo-color);

} 



.company-item{
  display: flex;
  align-items: center; 
  justify-content: center;
  fill: currentColor;
color:var(--color-icon);

  width:100%;
  height: 100%;
  border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
text-align: center;
  background-position: center;

  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.company-clients{
text-align: center;

width: 106px;
height: 60px;


}
 .company-link{
 display: flex;
align-items: center; 
justify-content: center;
}

/*main-portfolio*/

/*кнопки навигации*/
.section-button{
   display: flex;
   justify-content:center;
  
   
 }
.button{
  display: flex;
  justify-content:center;
  border:transparent;
  cursor: pointer;
  border-radius: 4px;
 background-color: #F5F4FA;;
  padding: 6px 22px ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;

  transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


button:hover,
button:focus {
  background-color: var(--logo-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px;
}
 
 .button-item {
   margin-right: 8px;
     
  }
  .button-item:nth-child(5){
    margin-right: 0px;
  }
   

 
/*project*/
.project{
   display: flex;
   flex-wrap: wrap; 
   margin-top: 50px;
  
  }
  .project__link{
    display: block;
    transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.project__link:hover,
.project__link:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card{
   width: 370px;
   margin-bottom: 30px; 
   margin-right: 30px; 
   padding: 0;

}

.project__card:nth-last-child(-n+3){
  margin-bottom: 0px;
}  


.project__card:nth-child(3),
.project__card:nth-child(6),
.project__card:nth-child(9) {
margin-right: 0px;}


/* Overlay */
.project__overlay{
  position: relative;
  overflow: hidden;
}

.project__overlay-text{
 display: inline-block;


  font-weight: 400;
  font-size: 18px;
  line-height:1.6 ;
  color: var(--accent-color);

 top:0;
 left:0;
 width: 100%;
 height: 100%;
 background: rgba(33, 150, 243, 0.9);
 padding: 63px 24px;


 transform:translateY(100%); 
 position: absolute;

 transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__overlay-text,
.project__link:focus .project__overlay-text{
transform: translate(0);

}

 
 .project__foto{
  display: block; 
  border: 1px  Inner border   rgba(238, 238, 238, 1);
  transition:  background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


.project__foto:hover,
.project__foto:focus{
  background-color: #FFFFFF;
}


.project__text{
padding: 20px 24px;
border-bottom: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
}

.project__title{
color: var(--primary-text-color);
font-size: 18px;
font-weight: 700;
line-height:2;
}

.project__design{
Font-size: 16px;
Line-height:1.9;
color:var(--title-text-color);
margin-top: 4px;
}


/* Подвал*/
.footer{
  background-color:var(--color-block);
  padding: 60px 0;
}

.container-footer{
display: flex;
align-items:baseline;
}

.address{
  padding-left: 0;
  margin-top: 20px;

}
.address-item{
  margin-bottom: 9px;
}
.address-item:nth-child(3) {
  margin-bottom: 0px;
}

.link-adress{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height:1.7;
  letter-spacing: 0.03em;
  text-align: left;
  color:var(--accent-color);
  font-style: normal;
 
}

.link-contact{
  Size:14px;
  Font:Roboto;
  font-weight:400;
  Line-height:1.7;
  color:var(--accent-color);
  opacity:60%;
  font-style: normal;

  transition:color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover,
.link-contact:focus{
  color: var(--title-text-color);
 }

.logo-white{
  color:var(--accent-color);
  }

.block-form{
   
    align-items: center; 
    justify-content: center; 
     flex-direction:column;
     margin-left: auto;
}

.footer-title{
  font-size:  14px;
  font-weight:700;
  Line-height: 1.2;
  color:var(--accent-color);
  margin-bottom: 20px;
}

/* social */
 .footer-icon{
display: flex;
align-items: center;

 }
 
.footer-icon__list{
margin-right: 10px;
box-sizing: border-box;
width: 44px;
height: 44px;
}

.footer-icon__list:nth-child(4){
  margin-right: 0px;
}

.footer-icon__link{
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  color:var(--accent-color);
  align-items: center;
  border-radius: 50px;
  background-color:rgba(255, 255, 255, 0.1);

  transition:  background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  

    
.footer-icon__link:hover,
.footer-icon__link:focus{
 background-color:#2196F3;
}

.footer-icon__item{
  width: 20px;
  height: 20px;
  fill: currentColor;

 }



 /* footer-form */


.footer-form{    
  display: flex;
  align-items: center;}
 
 .footer-form__input{
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  color:   rgba(255, 255, 255, 0.6);
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
 }
 .footer-form__button{
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
 }
.footer-form__icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
  margin-left: 10px;
 

}











































// /*кнопки навигации*/
//   .filters{
//     display: flex;
//     justify-content: center;
//   }

//   .filters__box{
//     margin-right: 8px;
//   }


//  .button-item{
//    display: flex;
//     justify-content: center;
//     text-align: center;

//     font-size: 16px;
//     font-weight: 500;
//     line-height: 1.6;

//     border: transparent;
//     border-radius: 4px;
//     background: $color-button;
//     padding: 6px 22px;

//     cursor: pointer;
   
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }


 
 
 
//  button:hover,
//  button:focus {
//    background-color:    $accent-color;
//    color: var(--accent-color);
//    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px;
//  }
  
  
//    .button-item:nth-child(5){
//      margin-right: 0px;
//    }
    
 