/*Особенности*/

.work{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .features{
    display: flex;
    align-items: center;
    justify-content: center;
   height:120px;
  
    background-color: #F5F4FA;
    border-radius: 4px; ;
    margin-bottom: 30px;
   }
  
  .features__item{
    width: 70px;
    height:70px;
    
  }
  
  .features__link{
    display: flex;
    justify-content: center;
  }
  
  .work__list{
    width: 270px;
    margin-right: 30px;
     }
  
  .work__list:nth-child(4){
       margin-right: 0px;
     }
     
      
  .work__heading{
     margin-bottom: 10px;
     font-size: 14px;
     font-weight: 700;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-align: left;
     color:  $primary-text-color;
      }
  
  .work__text{
     color: $title-text-color;
     font-size: 14px;
     font-style: normal;
     text-align: left;
     }
  
  /*Чем мы занимаемся*/
.section-user{
  padding-top: 0px;
}

  .user-foto{
    display:flex;
    

  
  }

.user-foto-item{
  margin-right: 30px;

  position: relative;
}

.user-foto-item:nth-child(3){
     margin-right: 0;
   }

